{#
/**
 * @file
 * Tourism+'s theme override for the block entity refernece field for the tabs powered custom block
 *
 * @see conferenceplus_preprocess_field__field_mt_destinations()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{{ attach_library('conferenceplus/event-location-google-maps-init') }}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <div class="event-location-google-map-canvas"
    data-attribute-mt-locations="{{ map_locations }}"
    data-attribute-mt-map-zoom="{{ field_mt_map_zoom_value }}">
  </div>
  <a class="button d-block mt-3" target="_blank" href="https://www.google.com/maps/dir/?api=1&amp;destination=({{ location_latitude }}, {{ location_longitude }})">{% trans %}Get Directions{% endtrans %}</a>
</div>
